body{
    margin: 0;
}

/* Header element */
#header{
    background-color: #3a3535;
    color: #f4f4f4;
    height: 20vh;
}

.nav{
    margin: 0;
}

.breadcrumbs{
    text-decoration: none;
    text-align: right;
    margin: 0;
}

.logo{
    height: 6rem;
    width: auto;
    display: inline-block;
}

.nav-logo{
    float: left;
}

.nav-link{
    font-family: 'Oxanium';
    font-size: 2rem;
    color: #f4f4f4;
    display: inline-block;
    text-decoration: none;
    text-align: right;
}

/* About me section */
#main{
    background-color: #f4f4f4;
    height: 70vh;
}

/* Contact me section */
#footer{
    background-color: #232020;
    height: 30vh;
}